Imporing Required Libraries

In [2]:
#importing required libraries for preprosseing
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

Importing the data

In [4]:
data=pd.read_csv('Pre_Data.csv')
print(data.head())

Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

Getting Attrributes of data

In [9]:
print(data.shape)

(10, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes
None

In [10]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes
None

In [11]:
data.describe()

             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

Checking for null entries in data

In [15]:
data.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

Handling Null Values

In [23]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(missing_values=np.nan,strategy='mean')
data.iloc[:,1:3]=si.fit_transform(data.iloc[:,1:3])
data.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

Splitting the data into dependent and independent groups

In [66]:
x=data.iloc[:,0:-1].values
y=data.iloc[:,-1].values
print(x)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [67]:
print(y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

Splitting data into train and test data

In [70]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer([('encoder', OneHotEncoder(), [0])],remainder='passthrough')
x=np.array(ct.fit_transform(x),dtype=np.str)
print(x)

[['1.0' '0.0' '0.0' '44.0' '72000.0']
 ['0.0' '0.0' '1.0' '27.0' '48000.0']
 ['0.0' '1.0' '0.0' '30.0' '54000.0']
 ['0.0' '0.0' '1.0' '38.0' '61000.0']
 ['0.0' '1.0' '0.0' '40.0' '63777.77777777778']
 ['1.0' '0.0' '0.0' '35.0' '58000.0']
 ['0.0' '0.0' '1.0' '38.77777777777778' '52000.0']
 ['1.0' '0.0' '0.0' '48.0' '79000.0']
 ['0.0' '1.0' '0.0' '50.0' '83000.0']
 ['1.0' '0.0' '0.0' '37.0' '67000.0']]

Encoding Dependent Variable

In [71]:
from sklearn.preprocessing import LabelEncoder
LB=LabelEncoder()
y=LB.fit_transform(y)
print(y)

[0 1 0 0 1 1 0 1 0 1]

Splitting data into train and test data

In [79]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

Feature Scalinng

In [80]:
from sklearn.preprocessing import StandardScaler
SC=StandardScaler()
x_train[:, 3:]=SC.fit_transform(x_train[:, 3:])
x_test[:, 3:]=SC.fit(x_test[:, 3:])

In [81]:
print(x_train)

[['0.0' '0.0' '1.0' '-0.19159184384578' '-1.07812594084124']
 ['0.0' '1.0' '0.0' '-0.01411729375705' '-0.07013167641635']
 ['1.0' '0.0' '0.0' '0.566708506533324' '0.633562432710455']
 ['0.0' '0.0' '1.0' '-0.30453019390224' '-0.30786617274297']
 ['0.0' '0.0' '1.0' '-1.90180114470079' '-1.42046361555158']
 ['1.0' '0.0' '0.0' '1.147534306823705' '1.232653363453549']
 ['0.0' '1.0' '0.0' '1.437947206968896' '1.574991038163888']
 ['1.0' '0.0' '0.0' '-0.74014954412003' '-0.56461942877573']]